<!-- CSS3 full concept -->
<!-- Text Effect -->
<h4 class="text_effect">Text shadow Effect we define horizontal-offset then vertical then blur and finally color to the text</h4>

<!-- Word wrap property -->
<div>Example of word-wrap</div>
<div id="word_wrap">You can break the line according to the width hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee.</div>
<p>Without using word wrape the text is displayed like this</p>
<div id="no_wrap">You can't break the line  hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee.</div>

<!-- Fonts in CSS3 -->
<h4 class="font_about">We can define custom Font</h4>

<!-- Animation in CSS3 -->
<div class="batman_class">
  <img src="/assets/batman.gif" alt="Images">
</div>

<!-- Transition effect in CSS3 -->
<!-- Animation and transition both are same but when we
 refresh page then effect of animation is displayed but
 transition effect is only shown after hover -->
 <div style="display: inline-block;">
  <h4>About Us<img src="/assets/heart.webp" class="heartimg_class" alt="Image"></h4>
 </div>

<!-- Multiple colume in CSS3 -->
<div class="about_para">
  <p>Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Architecto quia eligendi
    soluta cupiditate beatae enim et fuga minus
    explicabo adipisci perferendis fugiat nesciunt
    id placeat eius, aut a commodi quasi!
    Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Voluptates exercitationem velit ducimus eius
    libero? Odio quis, eius dolorem praesentium veniam,
    sed quidem nisi eveniet voluptatibus neque, optio
    officiis aliquid! Asperiores.
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eos rem voluptate dolores,
    deserunt veritatis voluptates tempora fuga,
    itaque repudiandae voluptatum culpa excepturi.
    Suscipit quod itaque fugiat nobis earum quisquam magnam.</p>
</div>

<!-- Background and border radius, Box sahadow in CSS3 -->
<div class="mybg_css">
</div>
<br>

<!-- User-Interface in CSS3 -->
<!-- Resize property -->
<div class="resize_prop">
  <p>Let the user resize both the height and the width of this div element.</p>
  <p>To resize: Click and drag the bottom right corner of this div element.</p>
</div>
<br>

<!-- Box-sizing property -->
<!-- When we add padding and margin to the div then actual width and height of div is changed,
  and it is added to the div width or height so we have to use box-sizing property to avoid such changes -->
<div class="div_cls"><p class="p_cls">Box-sizing is important</p></div>
<br>

<!--2D Transformation-->
<!--Translate moves the element from current position -->
<div class="div1_cls"><p class="p1_cls">Box-sizing is important</p></div>
<br>

<!-- Rotate -->
<h4 class="text_effects" style="text-align: center;">Rotate Effect</h4>
<br>
<img src="/assets/heart.webp" class="heartimg1_class" >
<hr>

<!-- Linear gradient -->

<div class="lineargradient" style="text-align: center; width: 100%; height: 50px;">Linear gradient</div>
<br>
<!-- Flex-box property -->
<!-- If we have multiple column in one row then we have to use flex-box property -->
<!-- if we have to display multiple row in one column then we have to use grid-system -->
<section>
  <div class="flex_css">
    <div><button class="btn btn-success">Like</button></div>
    <div><button class="btn btn-success">Share</button></div>
    <div><button class="btn btn-success">Subscribe</button></div>
  </div>
</section>
