/* text effect */
.text_effect {
  text-shadow: 0px 1px 1px blue;
  /*it takes horizontal-offset first then vertical and 5px is for blur and blue is color of text*/
}

/* Word wrap  */
#word_wrap {
  word-wrap: break-word;
  width: 150px;
  border: 1px solid #ff0000;
}
#no_wrap {
  width: 150px;
  border: 1px solid #ff0000;
}

/* Font in CSS3 */
/* if we want to use font in css3 then we have to write @font-face */

@font-face {
    font-family: anything;
    /* We can give any name to font-family bcz
    we are going to define custom font and later
    we have to access it in a another class i.e font_about*/
    src: url('/assets/go3v2.ttf');

}
.font_about {
  font-family: anything;
}

/* Animation in CSS3 */
.batman_class {
  width:100%;
  height: 50px;
  background-color: blue;
  position: relative;
}
.batman_class img {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 0; /*to start the image from left position */
  top: -5px; /*for image adjustment or it make images appear at top*/
  animation-name: batman_run; /*We can give any name to animation*/
  animation-duration: 6s; /*for setting duration*/
  animation-timing-function: linear; /*for running batman smoothly or running it with same spped from start to end*/
  animation-iteration-count: infinite;
}
/* we have to use @keyframe for accessing animation */
@keyframes batman_run {
  from{left:0}
  to{left: 85%}
  /* we can also write like this instead of from and to */
  /* 0%{left:0}
  100%{left: 85%} */
}

/* Transition in CSS3 */
.heartimg_class {
  width: 20px;
  height: 20px;
  transition-property: width, height;
   /*Only applied to width and height.
   we can also use its value as all to apply effect on every side*/
  transition-duration: 1s;
  transition-timing-function: linear;
}
.heartimg_class:hover {
  width: 50px; /*Here we set width and height after hover that is shown*/
  height: 50px;
}

/* Multiple column in CSS3 */
.about_para {
  column-count: 3; /*how many column you want*/
  column-gap: 50px; /*space b/w each column*/
  text-align: justify; /* each column text is aligned properly*/
  column-rule: dashed; /*style of separater*/
  column-rule-color: crimson;
}

/* Background and= border-radius, Box-shadow property of CSS3 */
.mybg_css {
  /*width and height of div*/
  width: 100px;
  height: 100px;
  border-radius: 20px; /*we can write minimum number like 5 or 10 to provide rounded corner*/
  background-image: url('/assets/batman_running.gif');
  background-repeat: no-repeat; /* without using this property small images is displayed repeatdly by default*/
  background-size: 100% 100%; /*it occupy 100% of width we can also reduce it height like 100% 50%*/
  /* box-shadow: 1px 1px 2px 4px grey; horizontal, vertical, blur, to stretch image, color */
  box-shadow: 1px 1px 2px grey;
}

/* User-Interface in CSS3 */
/* Resize property */
.resize_prop {
  overflow: auto;
  resize: both; /*we can set it to only horizontal and vertical also or also set its value to none to display it as it is*/
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

/*Box-sizing property*/
.div_cls {
  width: 300px;
  height: 100px;
  background-color: black;
  padding-left: 10px;
  box-sizing: border-box; /*it maintain actual size of div, by using this padding is not added into the size of div*/
}
.p_cls {
  color: white;
}

/*2D Tranformation*/

/* Translate */
.div1_cls {
  width: 300px;
  height: 100px;
  background-color: black;
  box-sizing: border-box;
}
.p1_cls {
  color: white;
  /* transform: translate(50px); */
  transform: translatey(50px); /*move element to y-axis*/
}

/* Rotate is mostly used with hover */
.text_effects {
   color: blue;
   transition: transform 2s;
}
.text_effects:hover {
  transform: rotate(360deg);
}
/* Scale is same as transition effect  */
.heartimg1_class {
  width: 20px;
  height: 20px;
  transition-property: transform;
  transition-duration: 1s;
}
.heartimg1_class:hover {
  /* width: 50px;
  height: 50px; */
  /* work Same as defined above */
  transform: scale(2,2); /*i.e 20px*2 or basically here we multiply width and height of above images from 2*/
}

/* Linear gradient */

.lineargradient {
  /* background-image: linear-gradient(red, yellow); */
  /* background-image: linear-gradient(to right, red, yellow); */
  background-image: linear-gradient(to left, red, yellow);
}


.flex_css {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to left, red, yellow);
  display: flex;
  flex-direction: row;
  /*Here we have to dispaly multiple column in one row. we can also write value as a  colume here if we have to display multiple row in one column*/
  /* justify-content: center; to make in a cenetr */
  /* justify-content: flex-end; to make it in a end */
  /* justify-content: flex-start; */
  justify-content: space-around; /*to make space equally around each button*/
  align-items: center; /*buttons are placed at center*/
}
